##############################
## Java
##############################
*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.nar
*.txt
.classpath
.project
.settings

##############################
## Backup files
##############################
*~.nib
*.tar.gz
*.swp